/* panjang border */
.border-2 {
    border-width:3px !important;
}

/* padding top text */
.pt-12 {
    padding-top: 120px;
}

.topnav {
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }
  
  .topnav a:hover {
    border-bottom: 3px solid rgb(0, 4, 255);
  }
  
  .topnav a.active {
    border-bottom: 3px solid rgb(0, 4, 255);

  }