/* hide navbar saat scroll */
.autohide{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}
.scrolled-down{
    transform:translateY(-100%); transition: all 0.9s ease-in-out;
}
.scrolled-up{
    transform:translateY(0); transition: all 0.9s ease-in-out;
}

/* text color untuk font kecil */
.text-color-sm {
  color: #44464d
}
    
/* panjang border */
.border-2 {
    border-width:3px !important;
}

.text-up .text-up1{
    display: inline-block;
    position: relative;
}

.w-border:after {
  width: 40px;
  border-bottom: 4px solid blue;
  display: block;
  content: "";
  position: absolute;
}

.w-border1:after {
  width: 40px;
  border-bottom: 4px solid #f4b400;
  display: block;
  content: "";
  position: absolute;
}

.w-border2:after {
  width: 40px;
  border-bottom: 4px solid #0f9d58;
  display: block;
  content: "";
  position: absolute;
}
/* padding top text */
.pt-12 {
    padding-top: 120px;
}

/* box radius */
.r-box {
  border-radius: 10px;
}

.topnav {
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }
  
  .topnav a:hover {
    border-bottom: 3px solid rgb(0, 4, 255);
  }
  
  .topnav a.active {
    border-bottom: 3px solid rgb(0, 4, 255);

  }

.footer-height {
  height: 80px;
}
